In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [40]:
iris_data = pd.read_csv("IRIS.csv")
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [41]:
iris_data.species = LabelEncoder().fit_transform(iris_data.species)
iris_data.species = iris_data.species.astype(float)
iris_data.sample(5)

     sepal_length  sepal_width  petal_length  petal_width  species
137           6.4          3.1           5.5          1.8      2.0
0             5.1          3.5           1.4          0.2      0.0
5             5.4          3.9           1.7          0.4      0.0
78            6.0          2.9           4.5          1.5      1.0
49            5.0          3.3           1.4          0.2      0.0

In [33]:
train, test = train_test_split(iris_data, test_size=0.2, shuffle=True)
train, val = train_test_split(train, test_size=0.2, shuffle=True)

In [34]:
print(f"Train size {train.shape}")
print(f"Train size {val.shape}")
print(f"Train size {test.shape}")

Train size (96, 5)
Train size (24, 5)
Train size (30, 5)

In [36]:
train.to_csv("train.csv", index=False)
val.to_csv("val.csv", index=False)
test.to_csv("test.csv", index=False)